* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  display: grid;
  padding: 15px 20px;
}

body{
  min-width: 100vh;
  min-height: 100vh;
}

/* base */

a{
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

ul{
  padding: 3%;
}

h1 {
  color: white;
  margin-top: 0;
  font-weight: 400;
}

body{
  width: 100%;
}

.primary-color
{ 
  background-color:#2383F4;
  width: 100%;
}

.secondary-color{
  background-color: #96a8bb ;
}

.tertiary-color {
  background-color:#F5613D;
}

body {
  font-family: Nunito;
  font-weight: 400;
}

.header-container {
  color: white;
  font-weight: 500;
}

/* icons */

.fa-linkedin {
  color: white;
  margin-right: 5%;
}

.fa-github{
  color: white;
  margin-right: 2%;
}

.icon-margin {
  margin-right: 2%;
}

.fa-link{
  color: white;
}

.fa-brands {
  font-size: 40px;
  color: white;
}

.background-color {
  background: linear-gradient(#000542, #0e59b1);
  width: 100%;
}

 .grid-container {
  display: grid;
}


h1 span{
  font-weight: 200;
}

h2 {
  margin-bottom: 3%;
  font-size: 1.4rem;
  color: lightslategray;
  font-weight: 500;
}

h3{
  color: white;
  font-weight: 400;
  line-height:30px
}

h4{
  color: white;
  padding-left: 4%;
  margin: 0;
  font-weight: 400;
}

.header-container__details {
  display: flex;
  flex-direction: row;
}

.header-container-social{
  display: flex;
  flex-direction: column;
  gap:30px;
  padding-left: 50px;
}

.A_Propos{
  border-top: 1px solid white;
  padding-top: 3%;
}

.header-container-social__element:hover {
  cursor: pointer;
}

#profil-picture {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  border: solid 3px white;
}

.formation-icon {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.header-container-personnal-info {
  display: flex;
  flex-direction: column;
  /* margin-left: 25px; */
}

.header-container-personnal-info-details__element {
  margin: 15px 0 0 0;
}

.education-container-eduction-section{
  display: flex;
  gap: 30px;
}

.education-container-eduction-section-schools{
  width: 50%;
}
.education-container-eduction-section-skills{
  width: 50%;
}

.school-name{
  font-weight: bold;
  font-size: large;
  width: 30%;
}

.education-container-eduction-section-schools-element__title{
  text-align: center;
  width: 40%;
}

.skill-box {
  width: 45%;
  border-radius: 15px;
  margin-bottom: 5%;
  height: 375px;
}

.skill-box h3 {
  text-align: center;
  margin: 6% 2%;
}


.education-container-eduction-section-schools-element{
  display: flex;
  justify-content: space-between;
  padding: 4% 0;
  border-bottom: 1px solid grey;
}

.education-container-eduction-section-schools-container{
  margin-top: 10%;
}

.education-container-eduction-section-schools-element__description{
  text-align: center;
  width: 65%;
}

.loading-bar__AN{
  border: 1px solid white;
  margin: 4% 4%;
  border-radius: 15px;
  height: 18px;
  position: relative;
}

.black{
  height:25px;
  width:20%;
  background-color: white;
  border-radius: 16px;
  height: 17px;
  position: absolute;
  left: -1px;
  top: -1px;
}

 .sharepoint{
  border-left: 130px solid white;
 }
 
 .AA{
  border-left: 120px solid white;
 }

 .office{
  border-left: 120px solid white;
 }

.photoshop{
  border-left: 70px solid white;
 }

.agile {
  border-left: 130px solid white;
}

.formation {
  border-left: 150px solid white;
}

 .gestion-projet {
  border-left: 120px solid white;
 }

 .rc{
  border-left: 90px solid white;
}

.RGPD {
  border-left: 50px solid white;
}

.html{
  border-left: 120px solid white;
}

.js {
  border-left: 60px solid white;
}

.react{
  border-left: 50px solid white;
}

.git{
  border-left: 20px solid white;
}

.education-container-eduction-section-skills{
  display: flex;
  flex-direction: column;
}

.education-container-eduction-section-skills-container{
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  gap: 7px;
}

.experience-container {
  display: flex; 
}

.experience-container-element-yearContainer{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute;
  background-color: white;
  border: 1px solid #F5613D;
}

.experience-container-element-yearContainer p{
color: #F5613D;
font-weight: 400;
}

.experience__title{
  margin-bottom: 80px;
}

.start {
  top: -40px;
  left: 55px;

}

.ending{
  top: -40px;
  left: 260px;

}
.experience-container-element{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  justify-content: center;

}

.experience-container-element-descriptionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 100%;
  background-color: #ff7655;
  color: white;
  padding-top: 10%;
  border-radius: 15px;
  justify-items: center;
}

.bouygues img{
  height: 70px;
  width: 120px;
}

.inetum img {
  height: 16px;
}

.hec img{
  height: 75px;
  width: 90px;
}

.experience-container-element-yearContainer__year{
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.experience-container-element-descriptionContainer__designation{
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 2%;
  width: 80%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.others-container{
  display: flex;
  justify-content: space-around;
  background: #96a8bb;
  margin-top: 45px;
}

.others-container-languages{
  display: flex;
  flex-direction: column;
}

.degree-description {
  font-weight: 00;
}

.others-container-languages-element {

}


.others-container-languages-element-rating p{
  margin: 0;
}

.others-container-languages-element-rating {
  display: flex;
}

.others-container-languages-element-rating__element {
  margin-right: 25px;
  width: 110px;
}

.others-container-languages-element__title{
  width: 150px;
}

.others-container-languages-element{
  display: flex;
  align-items: center;
}

.others-container-interest {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  gap: 35px;
  margin-left: 15px;
}

.others-container-languages{
  width: 50%;
}

.star {
  display: flex;
  color: yellow;
  margin: 0;
  font-size:large;
  margin-top: 5px;
}

.grey{
  color:rgb(255, 255, 255);
}


.experience-logo{
  position: absolute;
  top: -70px;
  border: 2px solid #F5613D;
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.others-container-interest-element{
  width: 80%;
}

.others-container-interest-element div p {
  margin: 5% 2% 0 0;
  width: 100%;
  } 
  

.others-container-interest-element div {
display: flex;
align-items: end;
} 

.others-container-interest-element__title{
  width:100%;
}


.flex{
  display: flex;
  color: white;
}

.flex h2{
  color: white;
}

@media screen and (max-width: 576px) {

body{
  font-size: 1.7rem;
}

#profil-picture {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: solid 7px white;
}

.fa-brands {
  font-size: 70px;
  color: white;
}

h2{
  font-size: 2rem;
}
h3
{
  font-size: 1.8rem;
}

h4{
  font-size: 1.3rem;
}

.skill-box {
  width: 33%;
  border-radius: 15px;
  margin-bottom: 5%;
  height: 450px;
}

.loading-bar__AN{
  border: 1px solid white;
  margin: 5% 4%;
  border-radius: 15px;
  height: 25px;
  position: relative;
}

.black{
  height:25px;
  width:20%;
  height: 25px;
}


  .main-container{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

.others-container-languages {
  width: 100%;
}

  .A_Propos{
    width: 85%;
  }

  .background-color{
  width: 100%;
  }

  .header-container {
    width: 100%;
    display: flex;
  }
  .header-container__picture {
    display: flex;
    justify-content: center;
    margin: 3% auto;
  }

  .header-container-personnal-info h1 {
    text-align: center;
    margin-top: 2%;
  }

  .header-container-social {
    flex-direction: row;
    margin: 5% auto;
    padding: 0;
  }

 .education-container-eduction-section{
  flex-direction: column;
 }

 h2{
  margin-left: 0%;
 }

 .education-container-eduction-section-schools{
  width: 100%;
 }

 .education-container-eduction-section-skills{
  width: 95%;
  margin: auto;
 }

 .education-container-eduction-section-schools-container {
  margin: 0;
  font-size: 1.7rem;
}

.education-container-eduction-section-schools span{
  font-size: 1.7rem;
}

.education-container-eduction-section-skills-container{
  margin: 0;
}

.experience-container-element-descriptionContainer{
  margin: auto;
  width: 90%;
}

.experience-container-element-yearContainer{
  height: 100px;
  width: 100px;
}

.education-container{
  margin: auto;
}

.experience-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 100px;
}

.experience-container-element{
  width: 100%;
}



.experience-container-element-descriptionContainer{
  padding: 0;
}


.others-container-interest-element{
  width: 90%;
}

.others-container-languages-element{
  display: block;
}

.others-container-languages-element-rating {
  width: 165%;
}

.start{
  top: -50px;
  left: 200px;
}

.ending {
  top: -50px;
  left: 505px;
}

.experience-container-element-yearContainer p{
  font-size: 1.3rem;
}
.experience-logo{
  height: 150px;
  width: 150px;
}

.bouygues img{
  height: 110px;
  width: 160px;
}

.inetum img {
  height: 25px;
}

.hec img{
  height: 120px;
  width: 140px;
}

.experience-container-element-descriptionContainer__designation {
  margin-top: 12%;
}

.others-container h2{
  margin-left: 0;
}

}

@media screen and (max-width: 768px) {

/*   .main-container{
    width: 700px;
  } */
}