.main-container {
  width: 1100px;
  margin: 3% auto;
}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

ul{
  padding: 4%;
}

.primary-color
{
  color:#2383F4;  
  background-color:#2383F4;
}

.secondary-color{
  color:#4EF29F;
  background-color: lightgrey ;
}

.tertiary-color {
  color:#F5613D;
  background-color:#F5613D;
}

body {
  font-family: Lato;
  font-weight: 500;
}

.main-container {
  max-width: 1200px;
  margin: 3% auto;
}

.header-container {
  color: white;
  font-weight: 300;
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr;
}

.fa-linkedin {
  color: white;
  margin-right: 5%;
}

.fa-github{
  color: white;
  margin-right: 2%;
}

.icon-margin {
  margin-right: 2%;
}


.background-color {
  background: linear-gradient(#000542, #0e59b1);
}

 .grid-container {
  display: grid;
 /*  grid-template-rows: 1fr 3fr 1fr 1fr; */
}

h1 {
  color: white;
  margin-top: 0;
}

h1 span{
  font-weight:300
}

h2 {
  margin-bottom: 3%;
  font-size: 1.4rem;
  color: #7e7e7e;

}

h3{
  color: white;
  font-weight: 400;
  line-height:30px
}

h4{
  color: white;
  padding-left: 5%;
  margin: 0;
  font-weight: 300;
}

.header-container__details {
  display: flex;
  flex-direction: row;
}

.header-container-social{
  display: flex;
  flex-direction: column;
  gap:30px;
  padding-left: 50px;
}

.A_Propos{
  border-top: 1px solid white;
  padding-top: 5%;
}

.header-container-social__element:hover {
  cursor: pointer;
}


#profil-picture {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  border: solid 3px white;
}

.header-container__picture {
  margin: 15% 0 0 0;
}

.fa-brands {
  font-size: 40px;
  color: white;
}

.formation-icon {
  display: flex;
  align-items: center;
  padding-right: 50px;
  text-align: center;
}


.header-container-personnal-info {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.header-container-personnal-info-details__element {
  margin: 15px 0;
}

.education-container-eduction-section{
  display: flex;
  gap: 30px;
}

.education-container-eduction-section-schools{
  width: 50%;
}
.education-container-eduction-section-skills{
  width: 50%;
}

.school-name{
  font-weight: bold;
  font-size: large;
  display: table-header-group;
  width: 30%;
}

.education-container-eduction-section-schools-element__title{
  text-align: center;
  width: 40%;
}


.education-container-eduction-section-skills-software :nth-child(1){

}

.education-container-eduction-section-skills-development {

}

.skill-box {
  width: 45%;
  border-radius: 15px;
  margin-bottom: 5%;
  height: 325px;
}

.skill-box h3 {
  text-align: center;
  margin: 6% 2%;
}


.education-container-eduction-section-schools-element{
  display: flex;
  justify-content: space-between;
  padding: 4% 0;
  border-bottom: 1px solid grey;
}

.education-container-eduction-section-schools-container{
  margin-top: 10%;
}

.education-container-eduction-section-schools-element__description{
  text-align: center;
  width: 62%;
}

.loading-bar__AN{
  border: 1px solid white;
  margin: 5%;
  border-radius: 15px;
  height: 15px;
  position: relative;
}

.black{
  height:25px;
  width:20%;
  background-color: white;
  border-radius: 16px;
  height: 17px;
  position: absolute;
  left: -1px;
  top: -1px;
}

 .sharepoint{
  border-left: 80px solid white;
 }
 
 .AA{
  border-left: 65px solid white;
 }

 .office{
  border-left: 65px solid white;
 }

.photoshop{
  border-left: 30px solid white;
 }

.agile {
  border-left: 50px solid white;
}

.formation {
  border-left: 75px solid white;
}

 .gestion-projet {
  border-left: 50px solid white;
 }

 .rc{
  border-left: 50px solid white;
}

.html{
  border-left: 75px solid white;
}

.js {
  border-left: 20px solid white;
}

.react{
  border-left: 7px solid white;
}

.git{
  border-left: 20px solid white;
}

.education-container-eduction-section-skills{
  display: flex;
  flex-direction: column;
}


.education-container-eduction-section-skills-container{
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  gap: 20px;
}

.experience-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
}

.experience-container-element-yearContainer{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute;
  top: -35px;
  left: 5px;
}

.experience__title{
  margin-bottom: 80px;
}

.experience-container-element{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  justify-content: center;

}

.experience-container-element-descriptionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 100%;
  background: linear-gradient(#F5613D, #ff8668);
  color: white;
  padding-top: 10%;
  border-radius: 15px;
  justify-items: center;
}

.bouygues img{
  height: 80px;
  width: 120px;
}

.CACIB img {
  height: 100px;
}

.hec img{
  height: 90px;
  width: 100px;
}

.experience-container-element-yearContainer__year{
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.experience-container-element-descriptionContainer__designation{
  text-align: center;
  border-bottom: 2px solid white;
  width: 60%;
  height: 120px;
  display: flex;
  align-items: center;
}

.others-container{
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
  margin-top: 45px;
}

.others-container-languages{
  display: flex;
  flex-direction: column;
}

.degree-description {
  font-weight: 00;
}

.others-container-languages-element-rating p{
  margin: 0;
}

.others-container-languages-element-rating {
  display: flex;
}

.others-container-languages-element-rating__element {
  margin-right: 25px;
  width: 110px;
}

.others-container-languages-element__title{
  width: 150px;
}

.others-container-languages-element{
  display: flex;
  align-items: center;
}

.fa-link{
  color: #00162E;
}

.others-container-interest {
  width: 50%;
}

.others-container-languages{
  width: 50%;
}

.star {
  display: flex;
  color: yellow;
  margin: 0;
  font-size:large;
  margin-top: 5px;
}

.grey{
  color:rgb(255, 255, 255);
}


.experience-logo{
  position: absolute;
  top: -85px;
  border: 2px solid #F5613D;
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.others-container-interest-element {
  margin-top: 25px;
} 

.flex{
  display: flex;
  color: white;
}

.flex h2{
  color: white;
}